---
import Container from "@components/container.astro";
import logoImage from "@assets/logo.svg";
import darkLogo from "@assets/logo-dark.svg";

interface Menu {
  label: string;
  href: string;
  external?: boolean;
  badge?: string;
}
const leftmenu: Menu[] = [
  {
    label: "Home",
    href: "/",
  },
  {
    label: "About",
    href: "/about",
  },
  {
    label: "Contact",
    href: "/contact",
  },
];

const rightmenu: Menu[] = [
  {
    label: "Archive",
    href: "/archive",
  },
  {
    label: "Github",
    href: "https://github.com/web3templates/stablo-astro",
    external: true,
    badge: "new",
  },
  {
    label: "Shop",
    href: "/shop",
    // external: true,
  },
];

const mobilemenu: Menu[] = [...leftmenu, ...rightmenu];
---
<div  x-data="{ open: false }" class="header top-0 sticky duration-[0.4s] z-20 shadow-sm" :class="{'open':open}">
  <div class="header-wrapper relative bg-white px-[32px]">
  <div class="header-inner min-h-[80px] flex justify-between items-stretch duration-[0.25s] opacity-100">
    <div class="header-left flex items-center">
      <nav>
        <button class="w-14 h-14 relative focus:outline-none" @click="open = !open" x-on:click="isModalOpen = true">
           
            <div class="block w-5 absolute left-6 top-1/2   transform  -translate-x-1/2 -translate-y-1/2">
                <span  class="block absolute h-0.5 w-7 text-black bg-current transform transition duration-500 ease-in-out" :class="{'rotate-45': open,' -translate-y-1.5': !open }"></span>
                <span  class="block absolute  h-0.5 w-5 text-black bg-current   transform transition duration-500 ease-in-out" :class="{'opacity-0': open } "></span>
                <span  class="block absolute  h-0.5 w-7 text-black bg-current transform  transition duration-500 ease-in-out" :class="{'-rotate-45': open, ' translate-y-1.5': !open}"></span>
            </div>
        </button>
    </nav>
   
    <div class="logo ml-[1rem] hidden lg:block">
			<a class="cs-header__logo cs-logo-default " href="https://caards.codesupply.co/artboard/">
				<img src="https://caards.codesupply.co/artboard/wp-content/uploads/sites/34/2023/04/artboard-logo.png" alt="Artboard" srcset="https://caards.codesupply.co/artboard/wp-content/uploads/sites/34/2023/04/artboard-logo.png 1x, https://caards.codesupply.co/artboard/wp-content/uploads/sites/34/2023/04/artboard-logo@2x.png 2x">
      </a>
							</div>
             
              <div class="hidden lg:block header__tag-line ml-[2rem] px-[2rem] py-[.5rem] border-r border-l text-black" :class="{'lg:hidden':open}">
                Welcome to the Ultimate Design Resource Hub!			
              </div>
        
              <div class="hidden group lg:flex items-center justify center text-black px-4 h-full pb-4 text-3xl hover:rotate-90 duration-300 hover:text-[#59BACC] cursor-pointer" :class="{'lg:hidden':open}">
                <span>.</span>
                <span>.</span>
                <span>.</span>
              </div>
    </div>
    <div class="logo ml-[1rem] flex items-center lg:hidden">
			<a class="cs-header__logo cs-logo-default " href="https://caards.codesupply.co/artboard/">
				<img src="https://caards.codesupply.co/artboard/wp-content/uploads/sites/34/2023/04/artboard-logo.png" alt="Artboard" srcset="https://caards.codesupply.co/artboard/wp-content/uploads/sites/34/2023/04/artboard-logo.png 1x, https://caards.codesupply.co/artboard/wp-content/uploads/sites/34/2023/04/artboard-logo@2x.png 2x">
      </a>
							</div>
    <div class="header-right flex items-center justify-center text-black" :class="{'lg:hidden':open}">
      <span>Search</span>
    </div>
    </div>
  </div>
  </div>
  <div
  class="modal fixed inset-0 overflow-hidden bg-white z-10 p-32"
  role="dialog"
  tabindex="-1"
  x-show="isModalOpen"
  x-on:click.away="isModalOpen = false"
  x-cloak
  x-transition.duration.500ms
>
    <div class="model-inner">
      <div class="modal-header">
        <h3>Hello World</h3>
        <button aria-label="Close" x-on:click="isModalOpen = false">✖</button>
      </div>
      <p class="text-black">
        Natus earum velit ab nobis eos. Sed et exercitationem voluptatum omnis
        dolor voluptates. Velit ut ipsam sunt ipsam nostrum. Maiores officia
        accusamus qui sapiente. Dolor qui vel placeat dolor nesciunt quo dolor
        dolores. Quo accusamus hic atque nisi minima.
      </p>
    </div>
</div>
<Container>

  <nav>
    <div class="flex flex-wrap justify-between md:gap-10 md:flex-nowrap">
      <div
        class="flex-col items-center justify-start order-1 hidden w-full md:flex md:flex-row md:justify-end md:w-auto md:order-none md:flex-1">
        {
          leftmenu.map((item) => (
            <a
              href={item.href}
              class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500">
              {item.label}
            </a>
          ))
        }
      </div>

      <div class="flex items-center justify-between w-full md:w-auto">
        <a class="w-28 dark:hidden" href="/">
          <img src={logoImage} alt="Logo" width={132} height={52} />
        </a>

        <a class="hidden w-28 dark:block" href="/">
          <img src={darkLogo} alt="Logo" width={132} height={52} />
        </a>

        <button
          id="menu"
          aria-label="Toggle Menu"
          class="px-2 py-1 ml-auto text-gray-500 rounded-md md:hidden focus:text-blue-500 focus:outline-none dark:text-gray-300">
          <svg
            class="w-6 h-6 fill-current"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 24 24">
            <path
              class="navmenu-toggle"
              fill-rule="evenodd"
              d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"
            ></path>

            <path
              class="navmenu-toggle hidden"
              fill-rule="evenodd"
              clip-rule="evenodd"
              d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"
            ></path>
          </svg>
        </button>
      </div><div
        class="flex-col items-center justify-start order-2 hidden w-full md:flex md:flex-row md:w-auto md:flex-1 md:order-none">
        {
          rightmenu.map((item) => (
            <a
              href={item.href}
              class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500">
              {item.label}
            </a>
          ))
        }
      </div>
    </div>
    <div class="navmenu-toggle hidden">
      <div
        class="flex flex-col items-center justify-start order-2 w-full md:hidden">
        {
          mobilemenu.map((item, index) => (
            <a
              href={item.href}
              class="px-5 py-2 text-sm font-medium text-gray-600 dark:text-gray-400 hover:text-blue-500"
              target={item.external ? "_blank" : ""}
              rel={item.external ? "noopener" : ""}>
              {item.label}
            </a>
          ))
        }
      </div>
    </div>
  </nav>
</Container>

